{% extends "layout.twig" %}
{% block content %}
<div class="post">
    <div class="post-title"><h2>{{ POST.title }}</h2></div>
    <div class="post-info">
    <div class="post-time">Published at {{ POST.time.main|date }}</div>
{% if POST.category|length > 0 %}
    <div class="post-category">Category: <a href="{{ P_PREFIX }}/category/{{ POST.category|lower }}/">{{ POST.category }}</a></div>
{% endif %}
{% if POST.tags|length > 0 %}
    <div class="post-tags">Tags: 
{% for TAG in POST.tags %}
<a href="{{ P_PREFIX }}/tag/{{ TAG|lower }}/">{{ TAG }}</a>&nbsp;
{% endfor %}
    </div>
{% endif %}
    </div>
    <div class="post-body">{% autoescape false %}{{ POST.content.html }}{% endautoescape %}</div>
</div>
<div class="comments">
    <h2>Comments</h2>
    {% include "pages/_comment.twig" %}
</div>
{% endblock %}
{% block sidebar %}
{% include "sidebar/category.twig" %}
{% include "sidebar/tags.twig" %}
{% endblock %}