{% set BODY_CLASS = 'main' %}
{% extends "layout.twig" %}
{% block header %}
<link href="{{ view_static('/css/ghostdown.css') }}" rel="stylesheet" type="text/css" charset="UTF-8" />
{% endblock %}
{% block content %}
{% if POST is defined %}
{% if POST._id is defined %}
{% autoescape false %}
<script>var POST_id = {{ POST._id|json }}</script>
{% endautoescape %}
{% endif %}
{% endif %}
<div class="write-top"><input type="text" class="textbox role-title" placeholder="Title"{% if POST.title is defined %} value="{{ POST.title }}"{% endif %}><input type="text" class="textbox role-url" placeholder="Clean URI"{% if POST.url is defined %} value="{{ POST.url }}"{% endif %}></div>
<div class="features">
<section class="editor">
<div class="outer">
<div class="editorwrap">
    <section class="entry-markdown">
        <header class="floatingheader">Markdown</header>
        <section class="entry-markdown-content">
        <textarea id="entry-markdown">{% if POST.content.markdown is defined %}{{ POST.content.markdown }}{% endif %}</textarea>
        </section>
    </section>
    <section class="entry-preview active">
        <header class="floatingheader">Preview <span class="entry-word-count">0 words</span></header>
        <section class="entry-preview-content">
            <div class="rendered-markdown"></div>
        </section>
    </section>
</div>
</div>
</section>
</div>
<div class="write-bottom"><span class="icon-category"></span><input type="text" class="textbox role-category" placeholder="Category"{% if POST.category is defined %} value="{{ POST.category }}"{% endif %}><span class="icon-tag"></span><input type="text" class="textbox role-tags" placeholder="Tags (separate with comma ',')"{% if POST.tags is defined %} value="{{ POST.tags|join(', ') }}"{% endif %}><span class="icon-time"></span><input type="text" class="textbox role-time" placeholder="YYYY-MM-DD H:M:S" value="{% if POST.title is defined %}{{ POST.time.main|date('Y-m-d H:i:s') }}{% else %}{{ null|date('Y-m-d H:i:s') }}{% endif %}"><input class="button button-def role-publish" type="button" value="PUBLISH"> <a href="javascript:;" class="role-save-draft">Save as draft</a> / <a href="javascript:;" class="role-save-page">Save as page</a></div>
{% endblock %}
{% block footer %}
<script type="text/javascript" src="{{ view_static('/js/ghostdown.js') }}"></script>
<script type="text/javascript" src="{{ view_static('/js/write.js') }}"></script>
{% endblock %}